new_list_alarm.xlsx
__pycache__/config.cpython-310.pyc
__pycache__/define_hybrid_house.cpython-310.pyc
__pycache__/define_window_battery.cpython-310.pyc
__pycache__/define_window_inverter.cpython-310.pyc
__pycache__/new_window_1.cpython-310.pyc
